

build --action_env=BAZEL_CXXOPTS=-std=c++17
build --cxxopt='-std=c++17'

# Tell bazel to use a static value for PATH and not to inherit LD_LIBRARY_PATH or TMPDIR.
# This is to prevent full recompiles whenever 
build --incompatible_strict_action_env

# Avoid warning messages in other workspaces since they are not helpful
build --output_filter=^//

# Don't show test output unless the test fails
test --test_output=errors

# Workspace status command for use within RBE
# build --workspace_status_command=$(pwd)/workspace_status.sh

try-import %workspace%/bazel/cache.bazelrc
try-import %workspace%/local.bazelrc
