

build --disk_cache=~/.cache/bazel-disk-cache
build --action_env=BAZEL_CXXOPTS=-std=c++17
build --cxxopt='-std=c++17'
common --experimental_enable_bzlmod

# Tell bazel to use a static value for PATH and not to inherit LD_LIBRARY_PATH or TMPDIR.
# This is to prevent full recompiles whenever 
build --incompatible_strict_action_env

# Avoid warning messages in other workspaces since they are not helpful
build --output_filter=^//

# Don't show test output unless the test fails
test --test_output=errors

# We want to use this to avoid having Z3 internals show up in the installed
# tarball. It may also be useful for bitcode targets in the future as well.
build --experimental_cc_implementation_deps

# Bazel registries for finding bzlmod dependencies
common --registry=https://raw.githubusercontent.com/insufficiently-caffeinated/caffeine-bazel-repository/main/
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main

try-import %workspace%/bazel/ci.bazelrc
try-import %workspace%/bazel/cache.bazelrc
try-import %workspace%/local.bazelrc
