---
BasedOnStyle: LLVM

AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 80
NamespaceIndentation: Inner
PointerAlignment: Left
